# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=Ludivine (Lignes de Vie) %i
Documentation=https://ldv-recherche.fr/architecture
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User={{ ludivine_run_user }}
Group={{ ludivine_run_group }}
RuntimeDirectory=ludivine
RuntimeDirectoryPreserve=yes
WorkingDirectory={{ ludivine_root_path }}/%i
ExecStart={{ ludivine_root_path }}/ludivine {{ '--sandbox' if ludivine_sandbox else '' }}
Restart=on-failure
RestartSec=20
TimeoutStopSec=30

{% if ludivine_sandbox %}
# Allow ludivine to manipulate namespaces despite
# kernel.unprivileged_userns_clone=0.
SecureBits=keep-caps
CapabilityBoundingSet=CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_ADMIN
{% endif %}

[Install]
WantedBy=multi-user.target
