# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[General]
Title = {{ ludivine_title }}
URL = {{ ludivine_url }}
Contact = {{ ludivine_contact }}

[Data]
DatabaseFile = data/ludivine.db
TempDirectory = tmp

[Pages]
{% for page in ludivine_pages %}
{{ page.title }} = {{ page.url }}
{% endfor %}

{% if ludivine_static is defined %}
[Static]
StaticDirectory = {{ ludivine_static }}
AutoGzip = On
{% endif %}

[HTTP]
SocketType = Unix
UnixPath = /run/ludivine/{{ ludivine_name }}.sock
ClientAddress = X-Forwarded-For

[SMTP]
URL = {{ ludivine_smtp.url }}
{% if ludivine_smtp.username is defined %}
Username = {{ ludivine_smtp.username }}
Password = {{ ludivine_smtp.password }}
{% endif %}
From = {{ ludivine_smtp.from }}
