version: '3'

services:
  photoview:
    container_name: 'photoview.{{ photoview_name }}'
    image: '{{ photoview_image }}'
    stop_grace_period: 10s

    user: {{ photoview_user.uid }}:{{ photoview_user.group }}
    env_file: ENV

    ports:
      - '{{ photoview_port }}:80'

    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - '{{ photoview_root_path }}/{{ photoview_name }}/cache:/home/photoview/media-cache'
      - '{{ photoview_directory }}:/photos:ro'
