version: '3'

services:
  app:
    container_name: 'tolgee.{{ tolgee_name }}'
    image: '{{ tolgee_image }}'

    environment:
      spring.config.additional-location: 'file:///config.yaml'

    ports:
      - '{{ tolgee_port }}:8080'

    volumes:
      - '{{ tolgee_root_path }}/{{ tolgee_name }}/data:/data'
      - '{{ tolgee_root_path }}/{{ tolgee_name }}/config.yaml:/config.yaml'
