{% for section, values in rekkord_config.items() %}
[{{ section }}]
{% for key, value in values.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if section == 'Repository' %}
KeyFile=rekkord.key
{% endif %}

{% endfor %}
