# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

{% macro configure_http(name, port) -%}
        server_name {{ name }};

        listen {{ port | string }};
        listen [::]:{{ port | string }};

        access_log /var/log/nginx/{{ name }}.access.log;
        error_log /var/log/nginx/{{ name }}.error.log error;
{%- endmacro %}

{% macro configure_https(name, port) -%}
        server_name {{ name }};

        listen {{ port | string }} ssl;
        listen [::]:{{ port | string }} ssl;

        access_log /var/log/nginx/{{ name }}.access.log;
        error_log /var/log/nginx/{{ name }}.error.log error;

        client_max_body_size 256M;

        ssl_dhparam /opt/nginx/ssl/dhparam.pem;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
        ssl_prefer_server_ciphers on;
        ssl_session_timeout 4h;
        ssl_session_cache shared:MozSSL:20m;
        ssl_session_tickets off;
{%- endmacro %}

user www-data www-data;

worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 8192;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 60;

    server_tokens off;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    types {
        application/javascript js mjs;
        application/wasm wasm;
    }

    # limit_req_zone $binary_remote_addr zone=default:10m rate=100r/s;
    # limit_req_status 429;
    # limit_req zone=default burst=100 nodelay;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    {{ nginx_config_misc }}

{% if nginx_default_server %}

    server {
        {{ configure_http('_', nginx_http_port) }}

        location / {
            return 404;
        }

        location /stub_status {
            allow 127.0.0.1;
            allow ::1;
            deny all;

            stub_status on;
        }
    }

    server {
        {{ configure_https('_', nginx_https_port) }}

        ssl_certificate /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt;
        ssl_certificate_key /opt/nginx/ssl/internal/{{ inventory_hostname }}.key;

        ssl_client_certificate /opt/nginx/ssl/internal/ca.crt;
        ssl_verify_client on;
        ssl_verify_depth 2;

        location / {
            return 404;
        }
    }

{% endif %}

{% for domain in nginx_domains %}

{% if nginx_mode != 'back' %}
    server {
        {{ configure_http(domain.name, domain.http_port if domain.http_port is defined else nginx_http_port) }}

        location / {
            return 301 https://$host$request_uri;
        }

        location /.well-known/acme-challenge {
            root /opt/nginx/ssl/webroot/{{ domain.name }};
        }
    }
{% endif %}

    server {
        {{ configure_https(domain.name, domain.https_port if domain.https_port is defined else nginx_https_port) }}

{% if nginx_mode == 'back' %}
        ssl_certificate /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt;
        ssl_certificate_key /opt/nginx/ssl/internal/{{ inventory_hostname }}.key;

        ssl_client_certificate /opt/nginx/ssl/internal/ca.crt;
        ssl_verify_client on;
        ssl_verify_depth 2;
{% elif domain.ssl_file_crt is not defined or force_self_ssl %}
        ssl_certificate /opt/nginx/ssl/letsencrypt/{{ domain.name }}.crt;
        ssl_certificate_key /opt/nginx/ssl/letsencrypt/{{ domain.name }}.key;
{% else %}
        ssl_certificate {{ domain.ssl_file_crt }};
        ssl_certificate_key {{ domain.ssl_file_key }};
{% endif %}

{% if domain.auth_username is defined %}
        auth_basic "{{ domain.name }}";
        auth_basic_user_file /opt/nginx/auth/{{ domain.name }}.htpasswd;
{% endif %}

        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains" always;

        {{ domain.config | indent(width=8) }}
    }

{% endfor %}

{% if nginx_mode == 'front' %}
{% for host, vars in hostvars.items() %}
{% if vars.nginx_mode == 'back' and vars.nginx_domains is defined %}
{% for domain in vars.nginx_domains %}

    server {
        {{ configure_http(domain.name, domain.http_port if domain.http_port is defined else nginx_http_port) }}

        location / {
            return 301 https://$host$request_uri;
        }

        location /.well-known/acme-challenge {
            root /opt/nginx/ssl/webroot/{{ domain.name }};
        }
    }

    server {
        {{ configure_https(domain.name, domain.https_port if domain.https_port is defined else nginx_https_port) }}

{% if domain.ssl_file_crt is not defined or force_self_ssl %}
        ssl_certificate /opt/nginx/ssl/letsencrypt/{{ domain.name }}.crt;
        ssl_certificate_key /opt/nginx/ssl/letsencrypt/{{ domain.name }}.key;
{% else %}
        ssl_certificate {{ domain.ssl_file_crt }};
        ssl_certificate_key {{ domain.ssl_file_key }};
{% endif %}

        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains" always;

        location / {
            client_max_body_size 0;

            proxy_http_version 1.1;
            proxy_request_buffering off;
            proxy_buffering off;
            proxy_send_timeout 1d;
            proxy_read_timeout 1d;

            proxy_ssl_certificate /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt;
            proxy_ssl_certificate_key /opt/nginx/ssl/internal/{{ inventory_hostname }}.key;
            proxy_ssl_protocols TLSv1.2 TLSv1.3;
            proxy_ssl_ciphers CDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
            proxy_ssl_session_reuse on;
            proxy_ssl_trusted_certificate /opt/nginx/ssl/internal/ca.crt;
            proxy_ssl_verify on;
            proxy_ssl_verify_depth 2;
            proxy_ssl_name {{ vars.ansible_host }};

            proxy_pass_request_headers on;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;

            proxy_pass https://{{ vars.nginx_relay | default(vars.ansible_host) }}:{{ domain.https_port if domain.https_port is defined else nginx_https_port }};
        }
    }

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
}
