[nextcloud]
user = www-data
group = www-data

listen = /run/php/nextcloud-fpm.sock

listen.owner = www-data
listen.group = www-data

pm = static
pm.max_children = 64

php_admin_value[memory_limit] = 512M

env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
