<?php

$CONFIG['mail_domain'] = '{{ nextcloud_smtp.from | split('@') | last }}';
$CONFIG['mail_from_address'] = '{{ nextcloud_smtp.from | split('@') | first }}';
$CONFIG['mail_smtpmode'] = 'smtp';
$CONFIG['mail_smtphost'] = '{{ nextcloud_smtp.host | split(':') | first }}';
$CONFIG['mail_smtpport'] = {{ nextcloud_smtp.host | split(':') | last }};
$CONFIG['mail_smtpsecure'] = '{{ nextcloud_smtp.mode }}';

{% if nextcloud_smtp.username is defined %}
$CONFIG['mail_smtpauth'] = true;
$CONFIG['mail_smtpauthtype'] = 'LOGIN';
$CONFIG['mail_smtpname'] = '{{ nextcloud_smtp.username }}';
$CONFIG['mail_smtppassword'] = '{{ nextcloud_smtp.password }}';
{% else %}
$CONFIG['mail_smtpauth'] = false;
$CONFIG['mail_smtpauthtype'] = 'PLAIN';
{% endif %}
