# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[General]
Title = {{ rekkorddrop_title }}
URL = {{ rekkorddrop_url }}

[Data]
DatabaseFile = data/data.db
TempDirectory = tmp

[HTTP]
SocketType = Unix
UnixPath = /run/rekkorddrop/{{ rekkorddrop_name }}.sock
ClientAddress = X-Forwarded-For

[Drop]
Quota = {{ rekkorddrop_quota }}

[S3]
Location = {{ rekkorddrop_s3.location }}
KeyID = {{ rekkorddrop_s3.access_key_id }}
SecretKey = {{ rekkorddrop_s3.secret_access_key }}

[SMTP]
URL = {{ rekkorddrop_smtp.url }}
{% if rekkorddrop_smtp.username is defined %}
Username = {{ rekkorddrop_smtp.username }}
Password = {{ rekkorddrop_smtp.password }}
{% endif %}
From = {{ rekkorddrop_smtp.from }}

{% if rekkorddrop_extra is defined %}
{% for section, values in rekkorddrop_extra.items() %}
[{{ section }}]
{% for key, value in values.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% endif %}
