# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[General]
Title = {{ rokkerd_title }}
URL = {{ rokkerd_url }}

[Data]
DatabaseFile = data/data.db
TempDirectory = tmp

[HTTP]
SocketType = Unix
UnixPath = /run/rokkerd/{{ rokkerd_name }}.sock
ClientAddress = X-Forwarded-For

[SMTP]
URL = {{ rokkerd_smtp.url }}
{% if rokkerd_smtp.username is defined %}
Username = {{ rokkerd_smtp.username }}
Password = {{ rokkerd_smtp.password }}
{% endif %}
From = {{ rokkerd_smtp.from }}

{% if rokkerd_extra is defined %}
{% for section, values in rokkerd_extra.items() %}
[{{ section }}]
{% for key, value in values.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% endif %}
