#!/bin/sh
{% for domain in dns_domains %}

{% if domain.lego is defined %}
{% if lego_settings[domain.lego].environment is defined %}
{% for key, value in lego_settings[domain.lego].environment.items() %}
{{ key }}="{{ value }}" \
{% endfor %}
{% endif %}
/usr/bin/lego -a {{ lego_settings[domain.lego].command }} {{ domain.name }} renew
{% endif %}
{% endfor %}
