# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[General]
Title = {{ medita_title }}
URL = {{ medita_url }}

[Data]
DatabaseFile = data/data.db
TempDirectory = tmp

[HTTP]
SocketType = Unix
UnixPath = /run/medita/{{ medita_name }}.sock
ClientAddress = X-Forwarded-For

[SMTP]
URL = {{ medita_smtp.url }}
{% if medita_smtp.username is defined %}
Username = {{ medita_smtp.username }}
Password = {{ medita_smtp.password }}
{% endif %}
From = {{ medita_smtp.from }}

[Authentication]
AllowInternal = {{ 'On' if medita_auth.internal else 'Off' }}
AllowRegister = {{ 'On' if medita_auth.register else 'Off' }}
